# Dependencies
node_modules/
web-1.0/node_modules/
web-2.0/node_modules/

# Build outputs
dist/
web-1.0/dist/
web-2.0/dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
